<h1>Sub sub set 1</h1>
<p>ext ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

<ui-input class="margin-bottom-md"
label="label" type="type" helperText="helperText" hideTooltip="true">
</ui-input>


<ui-input class="margin-bottom-md"
label="label" type="type" helperText="helperText" hideTooltip="true">
</ui-input>


<ui-input class="margin-bottom-md"
label="label" type="type" helperText="helperText" hideTooltip="true">
</ui-input>

<ui-input class="margin-bottom-md"
label="Needs a value to continue" type="type" id="needsValue" helperText="helperText" hideTooltip="true" (keyup)="checkValue($event)">
</ui-input>


<ui-button [routerLink]="['/stepper-template', {outlets: {'currentStep': ['sub-set-2']}}]" [routerLinkActive]="['active']" (click)="completedStep(); stepperItem();"
buttonText="Next to sub set 2" disabled="disabled"
[tooltipText]="tooltipText" [tooltipHeadingText]="tooltipHeadingText"
[hasHeading]="hasHeading" hideTooltip="true"
[bottomCenter]="bottomCenter" [topCenter]="topCenter">
</ui-button>

