/* brand */

$heritage: #115740;
$primary: #006341;
$secondary: #009639;
$tertiary: #78be20;

/* darken on hover */

$primary-hover: #006341;

/* brand lightened 80% 50% 20% */

$heritage-light-80: #427866;
$heritage-light-50: #89aba0;
$heritage-light-20: #d0ddd9;

$primary-light-80: #388268;
$primary-light-50: #84b1a1;
$primary-light-20: #cee0d9;

$secondary-light-80: #3eab62;
$secondary-light-50: #88cb9e;
$secondary-light-20: #cfead8;

$tertiary-light-80: #94cb53;
$tertiary-light-50: #bcdf95;
$tertiary-light-20: #E4F2D2;

/* accent */

$accent-teal: #00b2a9;
$accent-lime: #cedc00;

/* accent lightened  80% 50% 20% */

$accent-teal-light-80: #42c1ba;
$accent-teal-light-50: #8ad9d4;
$accent-teal-light-20: #d0f0ee;

$accent-lime-light-80: #d8e34c;
$accent-lime-light-50: #e7ee92;
$accent-lime-light-20: #f5f9d3;

/* warning/ error */

$deep-red: #aa2930;
$warning-red: #d22630;
$warning-orange: #f2a900;

/* alert colours */

$warning-yellow: #fceecc;
$success-green: #e4f2d2;
$error-red: #f8d5d7;

/* warning / error lightened 80% 50% 20% */

$deep-red-light-80: #bb545a;
$deep-red-light-50: #d59598;
$deep-red-light-20: #efd5d6;

$warning-red-light-80: #db535a;
$warning-red-light-50: #ea9399;
$warning-red-light-20: #f7d4d7;

$warning-orange-light-80: #f4ba48;
$warning-orange-light-50: #f9d590;
$warning-orange-light-20: #fceed3;

/* greys */

$dark-grey: #333;
$medium-grey: #666;
$light-grey: #bbb;
$light-grey-disabled: #d7d7d7;
$very-light-grey: #eee;
$almost-white: #f7f7f7;
$almost-white-darker: #f6f6f6;

/* solid */

$white: #fff;
$black: #3f3f3f;

/* tranparency */

$alpha: 0.1;
$black-a: darken($black, $alpha);

/* extra */

$highlight: #8bd2a3;
$nav-border-green: #009639;
$base-green: #006341;

/* confetti */

$confetti-1: #b2e0c4;
$confetti-2: #99d5b0;
$confetti-3: #7fcb9c;
$confetti-4: #66c089;