
// Mark Pro fonts

@font-face {
    font-family: 'FFMarkWebProRegular';
    src: url('http://design.nedbank.co.za/assets/fonts/FFMarkWebProRegular.eot');
    src: url('http://design.nedbank.co.za/assets/fonts/FFMarkWebProRegular.eot?#iefix') format('embedded-opentype'),
        url('http://design.nedbank.co.za/assets/fonts/FFMarkWebProRegular.woff2') format('woff2'),
        url('http://design.nedbank.co.za/assets/fonts/FFMarkWebProRegular.woff') format('woff'),
        url('http://design.nedbank.co.za/assets/fonts/FFMarkWebProRegular.ttf')  format('truetype'),
}

@font-face {
    font-family: 'FFMarkWebProItalic';
    src: url('http://design.nedbank.co.za/assets/fonts/FFMarkWebProItalic.eot');
    src: url('http://design.nedbank.co.za/assets/fonts/FFMarkWebProItalic.eot?#iefix') format('embedded-opentype'),
        url('http://design.nedbank.co.za/assets/fonts/FFMarkWebProItalic.woff2') format('woff2'),
        url('http://design.nedbank.co.za/assets/fonts/FFMarkWebProItalic.woff') format('woff'),
        url('http://design.nedbank.co.za/assets/fonts/FFMarkWebProItalic.ttf')  format('truetype'),
}

@font-face {font-family: 'FFMarkWebProMedium';
    src: url('http://design.nedbank.co.za/assets/fonts/FFMarkWebProMedium.eot');
    src: url('http://design.nedbank.co.za/assets/fonts/FFMarkWebProMedium.eot?#iefix') format('embedded-opentype'),
        url('http://design.nedbank.co.za/assets/fonts/FFMarkWebProMedium.woff2') format('woff2'),
        url('http://design.nedbank.co.za/assets/fonts/FFMarkWebProMedium.woff') format('woff'),
        url('http://design.nedbank.co.za/assets/fonts/FFMarkWebProMedium.ttf')  format('truetype'),
}

$text-regular: 'FFMarkWebProRegular', Helvetica, sans-serif;
$text-medium: 'FFMarkWebProMedium', Helvetica, sans-serif;
$text-italic: 'FFMarkWebProItalic', Helvetica, sans-serif;

p {
   font-family: $text-regular;
   color: $dark-grey;
}

label {
    font-family: $text-regular;
}
input {
    font-family: $text-regular;
}
textarea {
    font-family: $text-regular;
}

* {
    -webkit-font-smoothing: antialiased;
}
