

/* ---------------------
------- Vertical spacing --------
--------------------- */

$spacing-none: 0 !default;

$spacing-small: 15px !default;
$spacing-small-mobile: 10px !default;

$spacing-medium: 30px !default;
$spacing-medium-mobile: 20px !default;

$spacing-large: 60px !default;
$spacing-large-mobile: 40px !default;


.margin-bottom-sm {
    margin-bottom: $spacing-small !important;
    display: block;

	@media screen and (max-width: $tablet-portrait) {
        margin-bottom: $spacing-small-mobile !important;
        display: block;	
	}

	@media screen and (max-width: $smartphone) {
        margin-bottom: $spacing-small-mobile !important;
        display: block;	
	}
}

.margin-bottom-md {
    margin-bottom: $spacing-medium !important;
    display: block;

	@media screen and (max-width: $tablet-portrait) {
        margin-bottom: $spacing-medium-mobile !important;
        display: block;	
	}

	@media screen and (max-width: $smartphone) {
        margin-bottom: $spacing-medium-mobile !important;		
        display: block;
	}
}

.margin-bottom-lg {
    margin-bottom: $spacing-large !important;
    display: block;

	@media screen and (max-width: $tablet-portrait) {
        margin-bottom: $spacing-large-mobile !important;	
        display: block;
	}

	@media screen and (max-width: $smartphone) {
        margin-bottom: $spacing-large-mobile !important;	
        display: block;	
	}
}

.margin-bottom-none {
    margin-bottom: $spacing-none !important;
    display: block;

	@media screen and (max-width: $tablet-portrait) {
        margin-bottom: $spacing-none !important;	
        display: block;
	}

	@media screen and (max-width: $smartphone) {
        margin-bottom: $spacing-none !important;
        display: block;		
	}
}


.margin-top-sm {
    margin-top: $spacing-small !important;
    display: block;

	@media screen and (max-width: $tablet-portrait) {
        margin-top: $spacing-small-mobile !important;	
        display: block;
	}

	@media screen and (max-width: $smartphone) {
        margin-top: $spacing-small-mobile !important;	
        display: block;	
	}
}

.margin-top-md {
    margin-top: $spacing-medium !important;
    display: block;

	@media screen and (max-width: $tablet-portrait) {
        margin-top: $spacing-medium-mobile !important;	
        display: block;
	}

	@media screen and (max-width: $smartphone) {
        margin-top: $spacing-medium-mobile !important;	
        display: block;	
	}
}

.margin-top-lg {
    margin-top: $spacing-large !important;
    display: block;

	@media screen and (max-width: $tablet-portrait) {
        margin-top: $spacing-large-mobile !important;	
        display: block;
	}

	@media screen and (max-width: $smartphone) {
        margin-top: $spacing-large-mobile !important;	
        display: block;	
	}
}

.margin-top-none {
    margin-top: $spacing-none !important;
    display: block;

	@media screen and (max-width: $tablet-portrait) {
        margin-top: $spacing-none !important;	
        display: block;
	}

	@media screen and (max-width: $smartphone) {
        margin-top: $spacing-none !important;	
        display: block;	
	}
}