@import "../../styles.scss";

.nlsg-c-stepper__stepper-content {
    width: 100%;
    height: 800px;
    margin-top: 30px;
        padding: 0 30px 0 400px;

    @media screen and (max-width: $tablet-portrait) {
        padding: 0 20px 0 20px;  
    }	

    h1 {
        font-family: 'FFMarkWebProMedium', Helvetica, sans-serif;
    }
    p {
        font-family: 'FFMarkWebProRegular', Helvetica, sans-serif;
    }
}