<ui-stepper 
    [isShowStepper]="show" [modalSave]="saveModalShown"  
    [modalCancel]="cancelModalShown" (updateValue)="show = $event" 
    (getSave)="saveModalShown = $event" (getCancel)="cancelModalShown = $event"  
    [listItems]="listItems">
</ui-stepper>

<div *ngIf="saveModalShown">
    <ui-modal 
        [isShowModal]="show" (updateValue)="show = $event"
        [isGetSave]="saveModalShown"
        (getSave)="saveModalShown = $event"
        modalId="Save"
        [hasIllustration]="false" 
        [modalIllustrationUrl]="false" 
        modalHeading="Would you like to save?" 
        modalText="By saving this form you have the chance to complete it at a later." 
        [hideTooltip]="true"
        buttonText="Save and continue" 
        secondaryButtonText="Save and exit">
    </ui-modal>
</div>
<div *ngIf="cancelModalShown"> 
    <ui-modal 
        [isShowModal]="show" (updateValue)="show = $event"
        [isGetCancel]="cancelModalShown"
        (getCancel)="cancelModalShown = $event"
        modalId="Cancel"
        [hasIllustration]="false" 
        [modalIllustrationUrl]="false" 
        modalHeading="Would you like to cancel?" 
        modalText="By cancelling this form you have no chance of completing it." 
        [hideTooltip]="true"
        buttonText="Yes" 
        secondaryButtonText="No">
    </ui-modal>
</div>


<div class="nlsg-c-stepper__stepper-content">
    <router-outlet name="currentStep"></router-outlet>
</div>