
<ui-button buttonText="Load stepper into main app route-outlet" hideTooltip="true" [routerLink]="['/stepper-template', {outlets: {'currentStep': ['sub-set-1']}}]" [routerLinkActive]="['active']"></ui-button>
 
<router-outlet></router-outlet>


