<h1>Sub sub set 3</h1>
<p>ext ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>


<ui-input class="margin-bottom-md"
label="label" type="type" helperText="helperText"
[hashelperText]="hashelperText" [disabled]="disabled" [isValid]="isValid" [notValid]="notValid"
[tooltipText]="tooltipText" [tooltipHeadingText]="tooltipHeadingText"
[hasHeading]="hasHeading" hideTooltip="true">
</ui-input>

<ui-input class="margin-bottom-md"
label="label" type="type" helperText="helperText"
[hashelperText]="hashelperText" [disabled]="disabled" [isValid]="isValid" [notValid]="notValid"
[tooltipText]="tooltipText" [tooltipHeadingText]="tooltipHeadingText"
[hasHeading]="hasHeading" hideTooltip="true">
</ui-input>

<ui-input class="margin-bottom-md"
label="label" type="type" helperText="helperText"
[hashelperText]="hashelperText" [disabled]="disabled" [isValid]="isValid" [notValid]="notValid"
[tooltipText]="tooltipText" [tooltipHeadingText]="tooltipHeadingText"
[hasHeading]="hasHeading" hideTooltip="true">
</ui-input>

<ui-input class="margin-bottom-md"
label="label" type="type" helperText="helperText"
[hashelperText]="hashelperText" [disabled]="disabled" [isValid]="isValid" [notValid]="notValid"
[tooltipText]="tooltipText" [tooltipHeadingText]="tooltipHeadingText"
[hasHeading]="hasHeading" hideTooltip="true">
</ui-input>


<ui-button [routerLink]="['/stepper-template', {outlets: {'currentStep': ['sub-set-1']}}]" [routerLinkActive]="['active']" (click)="completedStep(); stepperItem()"
buttonText="Submit" [disabled]="disabled"
[tooltipText]="tooltipText" [tooltipHeadingText]="tooltipHeadingText"
[hasHeading]="hasHeading" hideTooltip="true"
[bottomCenter]="bottomCenter" [topCenter]="topCenter">
</ui-button>

